doctype
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='description', content='Super Page Here')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title
            block title
        block links
            link(href='css/style.css', rel='stylesheet')
    body
        // 
            begin project
            Edit important meta(name='description', content='Super Page Here')

        h1 Привет
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora perspiciatis et minus ipsum totam ducimus vero, distinctio maiores eaque ex ullam facilis libero ipsa quos aliquid tenetur qui pariatur! Cupiditate?

        - var links = ['Home','Contacts','About','Price']
        - var anotherlinks = ['AnotherHome','AnotherContacts','AnotherAbout','Price']
        - var sites = ['google.com','ya.ru','rtyu.ty','ahsjjd.re']
        ul.list
            each item in links 
                li: a(href="#").list__link.list__link-nav #{item}
                //- for site in sites
                //-     a(href=site)
                    
        mixin list(xren, className, active)
            ul(class=className)
                each item, index in xren
                    li(class=className + '__item')
                        if index === active
                            a(class=className + '__active' class=className+ '__link') #{item}
                        else
                            a(class=className + '__link') #{item}
        
        +list(['first','second'], 'list', 0)
        +list(['first','second'], 'list', 1)

        include sections/header
        